<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHrT7Lr9GEcCbgPpnUmStFOkSMMq0Y7WM</string>
	<key>GCM_SENDER_ID</key>
	<string>922795254650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saadoun</string>
	<key>PROJECT_ID</key>
	<string>login-e6dc3</string>
	<key>STORAGE_BUCKET</key>
	<string>login-e6dc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922795254650:ios:cc1b29c3869345d4f9acc3</string>
</dict>
</plist>